---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Menu from '../components/Menu.astro';
import Gallery from '../components/Gallery.astro';
import Testimonials from '../components/Testimonials.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Restaurant du Lac de Bret - Cuisine familiale depuis 1979 à Puidoux">
	<Navigation />
	<main>
		<Hero />
		<About />
		<Menu />
		<Gallery />
		<Testimonials />
	</main>
	<Footer />
</Layout>